<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <strong>Play some music!</strong>
    <br />
    
    <audio controls src="../songs/I-IV-VI.m4a" />
    <br />
    
    <audio controls src="../songs/Piano.m4a" />
    <br />
    
    <audio controls src="../songs/tropical.mp3" />
    <br />
    
    <audio controls src="../songs/RetroDemoPlanning.m4a" />
</body>

</html>